-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Bree Serif", serif;
  padding: 0;
}

header {
  position: relative;
  background-color: #660000;
  padding: .125em;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 50px;
  background-color: #D83D3D;
  color: #FFCC00;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-left: 1rem;


}



.banner-large {
  display: block;
  min-height: 100px;
  max-height: 500px;
}

.banner {
  overflow: hidden;
  position: relative;
}

.banner-content {
  max-width: 20em;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: white;
  padding: 1rem;
  text-align: center;

}

.banner h2 {
  font-size: 4rem;
  text-align: center;
  line-height: .5rem;
}

.banner p {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 1rem;
}

.banner a {
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #D83D3D;
  padding: .5em;
  padding-left: .75em;
  padding-right: .73em;
  border-radius: 10px;
}

.banner a:hover {
  background-color: #993333;
}


nav a {
  color: #D83D3D;
}

nav a:hover {
  color: #FFCC00;
}





.nav {
  display: none;

}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -4em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  width: 40px;
  display: inline-block;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {

}

.nav-close {
  display: none;
  position: absolute;
  right: .125rem;
  bottom: 5rem;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}







.link-card {
  display: block;
  border-radius: 5px;
  max-width: 20em;
  background-color: #white;
  color: black;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-left: 1rem;
  padding-right: .75rem;
  padding-bottom: .75rem;
  text-align: center;



}

.link-card:hover {
  background-color: #660000;
  color: #fff;
}

.link-card:hover .btn {
  background-color: #993333;
}

.link-card .btn {
  background-color: #D83D3D;
  padding: .5em;
  padding-left: .75em;
  padding-right: .73em;
  border-radius: 10px;
}

ul li {
  list-style-type: none;

}

a {
  text-decoration: none;
}

.popular {
  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 1rem;
}

.popular img {
  max-width: 75%;
}

.menu {
  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 1rem;
}

.find {
  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 1rem;
}

.bread {
  max-width: 25%;
  display: block;
  padding-top: 2rem;

}

.soup {
  max-width: 40%;
  padding-top: 2rem;
}

.pasta {
  max-width: 50%;
  padding-top: 2rem;
}

.dessert {
  max-width: 40%;
  padding-top: 2rem;
}

.find dt {
  text-align: left;
}

.find dd {
  text-align: right;
}

.find {
  margin-right: 3rem;
  padding-bottom: 5rem;
}

footer {
  padding: 3rem;
  background-color: #660000;
  color: white;
}


@media only screen and (min-width: 25em) {

  .link-card {
    display: inline-block;

  }


}




@media only screen and (min-width: 38em) {

  .nav-check {
    display: none;
  }

  .nav-label {
    display: none;
  }

  .nav {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
  }

  .nav li {
    display: inline;
    padding: 1rem;
  }





}




@media only screen and (min-width: 60em) {

  .body {
    margin: 4rem;
  }

  .link-card {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .banner {
    margin-left: 4rem;
  }

  .popular img {
    max-width: 75%;
  }


}




@media only screen and (min-width: 90em) {

}
